<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>uvalib-api</title>

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../uvalib-api.html">

</head>
<body>

  <uvalib-api id="fixture"></uvalib-api>

  <script>
    var myEl = document.getElementById('fixture');

    suite('<uvalib-api>', function() {

      test('gets the API', function() {
        myEl.addEventListener('uvalib-api-load', function(event) {
          assert.typeOf(myEl.api, 'object');
        });
      });

//      test('fires api loaded', function(done) {
//        myEl.addEventListener('uvalib-api-load', function(event) {
//          assert.typeOf(event.catalog, 'object');
//          done();
//        });
//      });

    });
  </script>

</body>
</html>
