<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uvalib-api Demo</title>
    <script src="../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="uvalib-api.html">
  </head>
  <body unresolved>
    <p>An `uvalib-api` looks like this:</p>
    <uvalib-api></uvalib-api>
    <script>
      var ourTag = document.getElementsByTagName('uvalib-api')[0];
      ourTag.addEventListener("uvalib-api-load", function(){alert('Loaded API! Have fun...')}, false);
    </script>
  </body>
</html>
